<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000a8f;">
        <!-- Navbar content -->
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><h2>RENPES</h2></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse clearfix" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Alumnos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Pagos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">Maestros</a>
                    </li>
                </ul>
                <button class="btn btn-outline-success float-end" type="submit">Cuenta</button>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>